Repository surveyjs/survey-library, pull requests merged in 2022-08, with the labels that each got.

#4668 Update the Overview article
  docs/LibraryOverview.md
  docs/images/overview.png
  docs/sidebar.json
Labels: Docs

#4652 Add the Localization & Globalization help topic
  docs/localization.md
  docs/sidebar.json
Labels: Docs

#4702 Add the Modify Survey Results section
  docs/handle-survey-results-access.md
Labels: Docs

#4710 Update ChoicesRestful descriptions
  src/choicesRestful.ts
Labels: Docs

#4720 Ranking RTL
  src/dragdrop/core.ts
  src/stylesmanager.ts
Labels: bug

#4728 Fix the getType doccomments
  src/base.ts
  src/question.ts
Labels: Docs

#4740 Fix code in Create a Simple Survey
  docs/design-survey-create-a-simple-survey.md
Labels: bug, Docs

#4766 Update the Localization topic
  docs/localization.md
Labels: Docs

#4771 Replace the Modern theme with Default V2 and SurveyWindow with PopupSurvey
  docs/design-survey-create-a-simple-survey.md
  docs/get-started-angular.md
  docs/get-started-jquery.md
  docs/get-started-knockout.md
  docs/get-started-react.md
  docs/get-started-vue.md
  docs/images/get-started-primitive-survey-alert.png
  docs/images/get-started-primitive-survey.png
  docs/sidebar.json
Labels: Docs
